body {
	background: black;
}

.ui-widget-content {
	background: black !important;
	border: none !important;
	-moz-box-shadow: inset 0 0px 0 #fff !important;
	-webkit-box-shadow: inset 0 0px 0 #fff !important;
	box-shadow: inset 0 0px 0 #fff !important;
}

.btn-back {
	width: 150px !important;
	height: 150px !important;
	border: none !important;
	background: url(#{request.contextPath}/resources/css/imgs/fondo.png)
		black repeat-x top left !important;
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-back span {
	padding: 0px !important;
	margin: 0px !important;
}

.pnl-avatar {
	width: 500px !important;
	height: 500px !important;
	border: none !important;
	background: url(#{request.contextPath}/resources/css/imgs/avatar.png)
		black repeat-x top left !important;
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
}

.pnl-span {
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
}

.dialogo {
	width: 500px !important;
	height: 500px !important;
	background: transparent !important;
	border: none !important;
}

.ui-datagrid-content .ui-widget-content .ui-grid .ui-grid-responsive {
	border: none;
}