body{
	background: black;
}
.ui-widget-content{
	background: black !important;
}

.btn-back {
	width: 150px !important;
	height: 150px !important;
	border: none !important;
	background: url(#{request.contextPath}/resources/css/imgs/fondo.png)
		black repeat-x top left !important;
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.btn-back span {
	padding: 0px !important;
	margin: 0px !important;
}

.pnl-avatar {
	width: 500px !important;
	height: 500px !important;
	border: none !important;
	background: url(#{request.contextPath}/resources/css/imgs/avatar.png)
		black repeat-x top left !important;
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
}

.pnl-span {
	color: white !important;
	font-size: 55px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.dialogo {
	width: 500px !important;
	height: 500px !important;
	background: transparent !important;
	border: none !important;
}